body{
    background-color: black;
}
.link{
    text-align: center;
}
.logo{
    text-align: center;
}
.logo img{
    height: 250px;

}
legend{
 text-align: center;
}
h1{
    
    color: #bf8106;
    font-family:fantasy ;
    height: 75px;
    font-size: 75px;
}
fieldset{
    background-color: antiquewhite;
    border: 5px ridge #bf8106;
    font-size: 30px;
    color: #bf8106;
    font-family: fantasy;
    
}
label{
    font-weight: bold;
}
.button{
    text-align: center;
}
input[type=submit]{
background-color: #bf8106;
padding: 1rem 4rem;
font-size: 35px;
font-family: fantasy;
color: antiquewhite;
border-radius: 10px;
}

input[type=reset]{
background-color: #bf8106;
padding: 1rem 4rem;
font-size: 35px;
font-family: fantasy;
color: antiquewhite;
border-radius: 10px;
}
input[type=submit]:hover{
    background-color: black;
    color: #bf8106;
    font-size: 40px;
}
input[type=reset]:hover{
    background-color: antiquewhite;
    color: #bf8106;
    font-size: 30px;
}
.thank-you{
    background-color:#bf8106 ;
    color: antiquewhite ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 113px;
    transition: 0.5s ease;
    width: 100%;
    z-index: 9999;
}
.thank-you.hidden{
    top: -100%
}
.thanks-message{
    font-family: fantasy;
    font-size: 2rem;
    margin: 0;
    text-transform: capitalize;
}
.thank-you button{
    background-color: #bf8106 ;
    border-radius: 0.5rem;
    color: antiquewhite;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 1rem;
    font-weight: bold;
    outline: 0;
    padding: 1rem 2rem;
    text-transform: uppercase;
}
.thank-you button:hover,
.thank-you button:focus{
    background-color: black;
    color: #bf8106;
}