body{
    background-color: #1a472a;
  }
.link a{
    color: #aaaaaa;
    height: 25px;
  
  }
  .link img{
    height: 25px;
  }
  .head{
    text-align: center;
  }
  h1 {
    display: inline-block;
    font-size: 75px;
    color: #aaaaaa;
    font-family: fantasy;
  
  }

  .container {
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
  }
  
  .card {
    margin-top: 25px;
    height: 350px;
    border: 1px solid #aaaaaa;
    background-color: #aaaaaa;
    border-radius: 15px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .container img {
    width: 250px;
    height: 250px;
  }
  
  .container-div >  {
    margin-top: 50px;
  }
  .clickHere{
    text-align: center;
  }
  button{
    padding: 4rem 4rem;
    background-color: #aaaaaa;
    color: #1a472a;
    text-transform: capitalize;
    font-family: fantasy;
    font-size: 2rem;
    cursor: pointer;
  
  }
  @media(max-width:768px){
    header{
      display: grid;
       grid-template-columns: 1fr;
     }
     main{
       display: grid;
       grid-template-columns: 1fr;
       gap: 50px 0px;
     }
    }
  