body{
    background-color: #fca900;

  }
  .head{
    text-align: center;
  }
  
  h1 {
    display: inline-block;
    font-size: 75px;
    color: black;
    font-family: fantasy;
    
  
  }.link a{
    color: black;
    height: 25px;
  
  }
  .link img{
    height: 25px;
  }

  /* .appear{
    color: #6a0000;
    font-family: fantasy;
    color: #fca900;
  } */
  .container {
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
  }
  
  .card {
    margin-top: 25px;
    height: 460px;
    font-family: fantasy;
    font-weight: bold;
    border: 1px solid #bf784e;
    border-radius: 15px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fca900;

  }
  
  .container img {
    width: 250px;
    height: 250px;
  }
  
  .container-div >  {
    margin-top: 50px;
  }
  .clickHere{
    text-align: center;
  }
  button{
    padding: 4rem 4rem;
    background-color: black;
    color: #fca900;
    font-size: 2rem;
    font-family: fantasy;
    text-transform: capitalize;
    cursor: pointer;
  
  }
  @media(max-width:768px){
    header{
      display: grid;
       grid-template-columns: 1fr;
     }
     main{
       display: grid;
       grid-template-columns: 1fr;
       gap: 50px 0px;
     }
    }
  