body{
    background-color: black;
    color: #bf8106;
    font-family: fantasy;


    
} 

@keyframes welcome{
    0%{color:#bf8106;}
    33%{color:#946b2d;}
    66%{color: #aaaaaa;}
    100%{color:black ;}
}
   @keyframes example { 
    0%   {color: black;}
    33%  {color: #aaaaaa}
    66%  {color: #946b2d;}
    100% {color: #bf8106;}
  }
header{
    margin-top: 85px;
    padding-top: 255px;
    text-align: center;
}
.welcome{
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: fantasy;
    animation-name: welcome;
    animation-duration: 3s;
    color: black;
    

}
h1{
    font-size:  60px;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
    animation-name: example;
    animation-duration: 8s;
    
    
}
.crossbar{
    height: 200px;
    text-align: center;
    

}

button{
    display: inline-block;
    background-color: black;
    padding: 2rem 4rem;
    margin-right: 50px;
    justify-items: center;
    

}
button a{
    color: #bf8106;
    font-size: 2rem;
    font-family: fantasy;
    justify-content: center;
    animation-name: example;
    animation-duration: 8s;
    
 }
 .applyHere{
    text-align: center;
 }
 .apply a{
    padding: 6rem 10rem;
    font-size: 3rem;
 }
 button:hover{
    background-color: lightgray;
    color: #bf8106;
 }
 button a:hover{
    color:#bf8106
 }
 .students:hover{
    background-color: #6a0000 ;
 }
 .staff:hover{
    background-color: #946b2d;
 }
 .staff a:hover{
    color:black;
 }
 .spells:hover{
    background-color: #1a472a;
}
.spells a:hover{
    color: #aaaaaa;
}
.course:hover{
   background-color: #222f5b;
   }
.course a:hover{
    color:#946b2d;
}
@media (min-width = 760px){
    .welcome{
        display: none;
    }
    
}